.journalEntry > * {background-color: white;}

.journalEntry {
    padding-left: 1.5em;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 10px;
}


.journalEntry > p {
    text-decoration: underline dashed pink;
    text-underline-offset: .25em;
    background-color: white;
    /* font-size: large; */
    /* margin-bottom: 1.5em; */
    margin-left: 1em;
    text-indent: 1em;
}
