.journalSnapShot > * {background-color: white;}

.journalSnapShot {
    background-color: white;
    width: 30em;
    border: 2px solid black;
    margin-bottom: 10px;
}

.journalSnapShot > a {
    background-color: white;
    text-decoration: none;
}

.journalSnapShot > a:visited {
    color:black
}

.journalSnapShot div:hover {
    font-size: 150%;
}

.journalSnapShot > a > div {
    background-color: white;
    height:max-content;
}

.journalSnapShot > a > div > p {
    background-color: white;
    text-decoration: underline dashed pink;
    text-underline-offset: .25em;
    background-color: white;
    font-size: large;
    margin-bottom: 1.5em;
    margin-left: 1em;
    text-indent: 1em;

}

.journalSnapShot > a > div > p > b {
    background-color: white;
}


.journalSnapShot > a > div > h3 {
    background-color: white;
    text-align: center;
}