nav {
    text-align: center;
    border-bottom: 2px dashed pink;
}

nav > header > h1 {
    margin-bottom: 0px;
}

nav > a > p {
    border-bottom: 2px dashed pink;
    border-radius: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}