nav {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    text-align: center;
    border-bottom: 2px dashed pink;
    width: 100%;
    padding-top: 0px;
    padding-right:0px ;
    margin-left: 0px;
}

nav > header {
    display: inline-block;

}

nav > header > h1 {
    display: inline-block;
    background-color: white;
    padding-top: 10px;
}

nav > a > p {
    display: inline-block;
    background-color: white;
    border-bottom: 2px dashed pink;
    border-radius: 0;
    margin-left: 5%;
    margin-right: 5%;
}