.primary > *{
    background-color: white;
}

.primary {
    text-align: center;
    background-color: white;
    margin-top: 5%;
    border: 2px solid #000;
    padding: 15px;
    width: 15em;
    margin: auto;
}

.primary > label{
    
    font-size:larger;
    display: block;
    margin-bottom: 10px;
}

.primary > input:last-child{
    width: 75%;
    font-size: x-large;
}

.primary > input:not(:last-child){
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px dashed pink;
    font-size: large;
    padding: 3px;
    padding-left: 5px;
    margin-bottom: em;
    width: 85%;
    
}

.primary > p:first-child {
    text-align: center;
    border-bottom: 3px solid pink;
    padding-bottom: 4px;
}

.primary > p{
    margin-top: 1px;
    font-size: x-large;
}

.primary > p:not(:first-child){
    display: block;
    font-size: larger;
    color: red;
}