.journalSnapShot > div {
    background-color: white;
    text-align: center;
}

.journalSnapShot > h3,p,b {
    background-color:  white;
    
}

.journalSnapShot > h3 {
    color:rgb(239, 5, 126)
}

.journalSnapShot > p {
    font-size: large;
}

.journalSnapShot {
    background-color: white;
    min-width: 20em;
    max-width: 30em;
    border: 2px solid rgba(250, 168, 114, 0.404);
    text-indent: 2%;
    margin: auto;
    margin-bottom: 1em;
}
