/* @import url('https://unpkg.com/purecss@1.0.1/build/base-min.css'); */
@import url('https://fonts.googleapis.com/css?family=Dosis');


*{
    font-family: 'Dosis';
    background-color: antiquewhite;
}

/* header {
    border-bottom: 4px solid gray;
    margin-bottom: 5%
} */

/* body{
    margin-left: 6%;
    margin-right: 6%;
} */

input{
    background-color: white;
}