/* @import url('https://unpkg.com/purecss@1.0.1/build/base-min.css'); */
@import url('https://fonts.googleapis.com/css?family=Dosis');


*{
    font-family: 'Dosis';
    background-color: antiquewhite;
    border-radius: 5px;

}

html, body {

    margin: 1px;
    

}

nav {
    background-color: white;
}

nav > * {
    background-color: white;
}

input{
    background-color: white;
}