.controls > div {
    margin-top: 0%;
}


.controls > div >  a {
    display: inline-block;
    border: 1px solid black;
    width:fit-content;
    padding: 4.5%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-color: Salmon;
    text-decoration: none;
    text-align: center;
}